.cart{
    position: sticky;
    top: 0;
}
.personal-info{
    display: flex;
}
.name{
    margin-top: 20px;
    margin-left: 20px;
}
.personal-info img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
}
.personal-details{
    display: flex;
    line-height: 0px;
    padding:0px 10px;
    justify-content: space-between;
}
.break-container h2{
    margin-right: 106px;
    margin-top: 50px;
}
.break-time button{
    border-radius: 10px;
    margin: 8px;
    padding: 5px;
    font-size: 14px;
}
.break-time button:hover{
    color: white;
    background-color: blue;
}

.exercise-container h2{
    margin-top: 60px;
    margin-right: 60px;
}
.exercise-time, .break-time-count{
    margin-top: 40px;
}
.exercise-time span{
    color: grey;
    margin-left: 10px;
    margin-right: 10px;
}
.break-time-count span{
    color: grey;
    margin-left: 14px;
    margin-right: 10px;
}
.break-time-count{
    margin-right: 20px;
}


.btn-activity{
    background-color: blue;
    color: white;
    padding:10px 70px;
    margin-top: 60px;
}