.personal-info{
    display: flex;
}
.name{
    margin-top: 20px;
    margin-left: 20px;
}
.personal-info img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
}
.personal-details{
    display: flex;
    line-height: 0px;
    padding:0px 10px;
    justify-content: space-between;
}
.break-container h2{
    margin-right: 106px;
    margin-top: 50px;
}
.break-time{
    display: flex;
    padding:0px 10px;
    line-height: 0px;
    justify-content: space-between;
}
.break-time:hover h3{
   color: rgb(30, 0, 255);
}

.exercise-container h2{
    margin-top: 60px;
    margin-right: 60px;
}
.exercise-time, .break-time-count{
    margin-top: 40px;
}
.break-time-count{
    margin-right: 20px;
}