.home{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.home-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 80px 20px;
}
.home-info{
    background-color: coral;
    
}
.club-name{
   display: flex ;
   margin-top: 40px;
}
.logo-picture img{
    width: 100px;
    height: auto;
}
.exercise{
    margin: 0px;
    margin-right: 620px;
}